<h1>Ajuda</h1>
<p>
  Você pode ler mais sobre Rails na página
  <a href='https://guides.rubyonrails.org/'>
  Ruby on Rails Guides</a>
  e sobre o Ruby em <a href='https://ruby-doc.org/'>Ruby-Doc.org</a>
</p>