<% provide(:title, "Contato") %>

  <h1>Contato</h1>
<p>
<ul>
<li>
  <ul>
    <li><strong>Nome: </strong>Henrique Couto</li>
    <li><strong>Email: </strong>henrique.melo@arapiraca.ufal.br</li>
    <li><strong>Telefone: </strong>(82) 9 9656-6494</li>
  </ul>
</li>
<li>
  <ul>
    <li><strong>Nome: </strong>Letícia Rocha</li>
    <li><strong>Email: </strong>leticia.roch@hotmail.com</li>
    <li><strong>Telefone: </strong>(82) 9 9698-3405</li>
  </ul>
</li>

</ul>
</p>