<% provide(:title, "Contato") %>

  <h1>Contato</h1>
<p>
<ul>
<li><strong>Nome: </strong>Aluno</li>
<li><strong>Email: </strong>Aluno@email.com</li>
<li><strong>Telefone: </strong>82996566494</li>
</ul>
</p>