<% provide(:title, "Início") %>

<h1>Terceiro App</h1>
<p>
  Este é o terceiro app Rails da disciplina
  <strong>Desenvolvimento de Software para Web II</strong>
  do curso de Sistemas de Informação em
  <a href="http://ufal.edu.br/arapiraca/unidades-de-ensino/penedo"
    >Penedo</a
  >
</p>
