<% provide(:title, "Sobre") %>

  <h1>Sobre</h1>
<p>
<ul>
<li><strong>Desenvolvimento de Software para Web II</strong></li>
<li><strong>Código: </strong>SISB031</li>
<li><strong>Semestre: </strong>7</li>
<li><strong>Professor: </strong>Thiago Cavalcante</li>
</ul>
</p>